<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <body style="padding-left: 2cm; padding-right: 2cm;">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
          <a class="navbar-brand" href="/">Home</a>
          <a class="navbar-brand" href="/about">About</a>
        </nav>
        
        <h1>About</h1>

        <div style="width: 600px; word-wrap: break-word;">
            <p>
                Just a project more for myself to refer back to when working on future GoLang/MongoDB projects.
                Grabs NoSQL records from MongoDB and renders through HTML Template using GoLang.
            </p>
        </div>
    </body>
</html>
